$color-font:#6E0114;

.card {
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 380px;
    border-radius: 8px;
    background: #FFFFFF;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), -4px -4px 10px #FFFFFF, inset 5px 5px 20px rgba(255, 255, 255, 0.5);

    .gambar {
        justify-self: center;
        align-self: center;
    }

    .konten {
        padding: 20px;
        padding-top: 0;

        .judul {
            text-align: center;
            font-size: 16px;
            font-weight: 600;

            img {
                display: block;
                width: 40px;
                margin: 10px auto 0;
            }
        }

        .isi {
            text-align: center;
            margin-top: 20px;
            color: #7C7C7C;
        }
    }
}

.judul-section {
    margin: 40px 0;

    p {
        font-size: 24px;
        font-weight: 600;

        @media only screen and (max-width:600px) {
            font-size: 20px;
        }
    }
}


.lainya {
    display: grid;
    justify-content: center;

    @media only screen and (max-width:600px) {
        margin-top: 60px;
    }

    .btn-lainya {
        background-color: #FFD600;
        text-decoration: none;
        text-align: center;
        border-radius: 4px;
        border: none;
        font-weight: 500;
        margin-bottom: 20px;
        height: 40px;
        line-height: 40px;
        color: rgba(0, 0, 0, 0.5);
        width: 150px;
        box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.1), -4px -4px 8px #FFFFFF, inset 2px 2px 8px rgba(255, 255, 255, 0.5);
        outline: none;
        transition: .3s;

        &:hover {
            background-color: #FFBA09;

        }

        &:active {
            box-shadow: none;
        }
    }
}

.header {
    width: 100%;

    nav {
        position: fixed;
        top: 0;
        z-index: 999;
        display: grid;
        grid-template-columns: 1fr 1fr;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        height: 60px;
        width: 100%;
        background-color: #fff;

        .logo {
            display: grid;
            align-content: center;
            height: 100%;

            img {
                width: 40px;
                margin-left: 60px;
            }
        }

        ul {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            justify-content: center;
            align-items: center;
            height: 100%;
            text-align: center;
            margin-right: 30px;

            li {
                list-style: none;

                a {
                    text-decoration: none;
                    color: $color-font;
                }
            }

            .pemesanan {
                a {
                    color: #fff;
                    background-color: #FEB528;
                    color: #fff;
                    padding: 15px 20px;
                    border-radius: 60px;
                    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.1), -4px -4px 8px #FFFFFF, inset 2px 2px 8px rgba(255, 255, 255, 0.5);
                    transition: .5s;

                    &:active {
                        box-shadow: none;
                    }
                }

            }
        }
        @media only screen and (max-width:600px) {
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);   
            ul{
                display: none;
            }
            .logo {
                img {
                    margin-left: 30px;
                }
            }
        }
    }
}

#carousel-example-generic-mobile {
    display: none;

    .carousel-control {
        background: transparent;
    }

    @media only screen and (max-width:600px) {
        margin-top: 60px;
        height: 160px;
        display: block;
        

        .carousel-inner {
            height: 100%;

            .item {
                height: 100%;

                img {
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }
}

.iklan {
    margin-top: 120px;
    display: grid;
    grid-template-columns: 1fr;
    @media only screen and (max-width:600px) {
       margin-top: 0;
    }    
    #carousel-example-generic-desktop {
        display: block;

        .carousel-control {
            background: transparent;
        }
    }

    // .carousel-inner>.item>a>img,
    // .carousel-inner>.item>img,
    // .img-responsive,
    // .thumbnail a>img,
    // .thumbnail>img {
    //     display: block;
    //     margin: 0 auto;
    // }

    @media only screen and (max-width:600px) {
        #carousel-example-generic-desktop {
            display: none;
        }
    }

}

section#kelebihan {
    // display: grid;
    // grid-gap: 40px;
    // grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    padding: 70px 0;

    @media only screen and (max-width:600px) {
        padding: 0px 0;
    }

    .cover-kelebihan {
        display: grid;
        grid-gap: 40px;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        

        @media only screen and (max-width:600px) {
            padding-left: 8px;
            grid-gap: 20px;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            grid-auto-flow: column;
            grid-auto-columns: minmax(200px, 1fr);
            overflow-x: auto;
            
        }
    }
}

section#kategori {
    .cover-card {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        grid-gap: 20px;
        margin-bottom: 70px;

        a {
            text-decoration: none;

            .card-kategori {
                border-radius: 6px;
                box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15), -5px -5px 10px #FFFFFF, inset 5px 5px 10px rgba(255, 255, 255, 0.5);
                padding: 20px;
                background-color: #fff;
                transition: .5s;
                min-height: 250px;

                @media only screen and (max-width:600px) {
                    min-height: 240px;
                }

                cursor: pointer;

                img {
                    width: 100%;
                    margin-bottom: 10px;
                }

                .judul {
                    text-align: center;
                    color: rgba(0, 0, 0, .5);
                    font-weight: 500;
                }

                &:hover {
                    transform: translate(0, -25px);
                    transition: .5s;
                    box-shadow: 0px 35px 10px -30px rgba(254, 4, 61, 1);
                }

                &:active {
                    box-shadow: none;
                }
            }
        }
    }
}

section#produk {
    background-image: url(../asset/background.png);
    background-repeat: no-repeat;
    background-size: 100% 85%;
    background-position: center bottom;

    @media only screen and (max-width:600px) {
        background-image: none;
    }

    .cover-produk {
        display: grid;
        grid-gap: 20px;
        padding: 40px;
        padding-top: 0;
        margin-bottom: 32px;
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));

        @media only screen and (max-width:600px) {
            grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
            padding: 0;
            grid-gap: 10px;
        }

        .card-produk {
            display: grid;
            grid-gap: 10px;
            background-color: #fff;
            padding: 10px;
            border-radius: 8px;
            min-height:300px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            grid-template-rows: auto 1fr auto;
            cursor: pointer;
            
            &:hover{
                .gambar {
                    img{
                        transform: scale(1.2,1.2);
                    }

                }
            }
            .gambar {
                overflow: hidden;
                border-radius: 4px;
                img {
                    transition: .5s;
                    width: 100%;
                    // height: 120px;
                    
                }
            }

            .konten {
                .judul {
                    font-weight: 600;
                }

                .berat {
                    color: rgba(0, 0, 0, 0.5);
                    font-weight: 400;
                }

                .harga {
                    font-weight: 400;
                    color: #FD043C;
                }
            }

            a {
                text-decoration: none;
                line-height: 30px;
                text-align: center;
                height: 30px;
                font-weight: 500;
                background-color: #00D387;
                box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.1), -4px -4px 8px #FFFFFF, inset 2px 2px 8px rgba(255, 255, 255, 0.5);
                border: none;
                border-radius: 15px;
                color: #fff;
                transition: .5s;
                outline: none;

                &:hover {
                    background-color: #fff;
                    border: 1px solid #00D387;
                    color: #00D387;
                }

                &:active {
                    box-shadow: none;
                }
            }
        }
    }
}

section#testimoni {
    display:none;
    .cover-testimoni {
        margin-bottom: 70px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(265px, 1fr));
        grid-gap: 20px;

        @media only screen and (max-width:1200px) {
            // grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));

            padding-left: 8px;
            grid-gap: 20px;
            grid-template-columns: repeat(auto-fill, minmax(265px, 1fr));
            grid-auto-flow: column;
            grid-auto-columns: minmax(265px, 1fr);
            overflow-x: auto;
        }

        .card {
            display: grid;
            grid-template-rows: 1fr auto;
            height: 350px;
            .cover-testi{
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                margin:0 20px;
                .testimoni{
                    text-align: center;
                    font-size: 18px;
                    padding: 75px 10px 0;
                    color: rgba(0, 0, 0, 0.7);
                }
                .pembatas{
                    text-align: center;
                }
            }

            .cover-bawah{
                display:grid;
                grid-template-columns: auto 2fr;
                margin: 20px 0;
                .gambar {
                    height: 60px;
                    width: 60px;
                    background-color: rgba(0, 0, 0, 0.1);
                    border-radius: 50%;
                    overflow: hidden;
                    position: relative;
                    border: 2px solid rgba(0, 0, 0, 0.5);
                    margin-left: 20px;
                    img {
                        width: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
    
                    }
                }
                .konten {
                    padding: 10px;
                    display: grid;
                    grid-template-rows: auto auto;
                    text-align: left;
    
                    p {
                        margin: 0 0 0 !important;
    
                    }
    
                    .nama {
                        font-weight: 400;
                        font-size: 16px;
                        padding-bottom: 10px;
                        align-self: flex-end;
                    }
    
                    .pekerjaan {
                        font-size: 12px;
                        color: rgba(0, 0, 0, .6);
                        padding-bottom: 10px;
                        align-self: flex-start;
                    }
    
    
                }

            }

            

            

        }
    }
}

section#download {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @media only screen and (max-width:600px) {
        grid-template-columns: 1fr;
    }

    .judul-section {
        .keterangan {
            font-size: 14px;
            font-weight: 400;
            color: rgba(0, 0, 0, 0.8);
        }

        .gambar_hape {
            display: none;

            @media only screen and (max-width:600px) {
                display: block;
                width: 100%;
                margin-top: 50px;
            }
        }

        a {
            display: block;
            background-color: #00D387;
            padding: 10px;
            width: 200px;
            text-align: center;
            color: #fff;
            border-radius: 6px;
            margin-top: 60px;
            box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15), -3px -3px 10px #FFFFFF, inset 2px 2px 8px rgba(255, 255, 255, 0.5);
            text-decoration: none;
            transition: .5s;

            @media only screen and (max-width:600px) {
                margin: 0 auto;
                margin-top: 60px;
            }

            &:active {
                box-shadow: none;
            }

        }
    }

    .gambar-smartphone {
        display: grid;
        justify-content: end;
        img {
            margin-top: 40px;
            width: 500px;
        }
        @media only screen and (max-width:600px) {
            display: none;
        }

    }


}

section#copyright {

    @media only screen and (max-width:600px) {
        height: 135px;
    }

    .kotak {
        border-top: 1px solid rgba(0, 0, 0, 0.15);
        padding: 20px 0;

        p {
            text-align: center;
        }
    }

    .nav-mobile {
        display: none;
        box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
        background: white;
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        transition: bottom .5s ease;

        @media only screen and (max-width:600px) {
            display: grid;
            grid-template-columns: repeat(3,1fr);
            justify-content: center;
            

            a {
                width: 100%;

                text-decoration: none;

                display: block;
                padding: 10px;
                text-align: center;

                img {
                    width: 25px;
                    height: 25px;
                    display: block;
                    margin: 0 auto;
                    margin-bottom: 5px;
                    
                }

                p {
                    color: $color-font;
                    font-size: 10px;
                    font-style: normal;
                    font-weight: normal;
                    margin-bottom: 0;
                    text-align: center;
                }
            }
        }
    }
}