.card {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  height: 380px;
  border-radius: 8px;
  background: #FFFFFF;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), -4px -4px 10px #FFFFFF, inset 5px 5px 20px rgba(255, 255, 255, 0.5);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), -4px -4px 10px #FFFFFF, inset 5px 5px 20px rgba(255, 255, 255, 0.5);
}

.card .gambar {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.card .konten {
  padding: 20px;
  padding-top: 0;
}

.card .konten .judul {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}

.card .konten .judul img {
  display: block;
  width: 40px;
  margin: 10px auto 0;
}

.card .konten .isi {
  text-align: center;
  margin-top: 20px;
  color: #7C7C7C;
}

.judul-section {
  margin: 40px 0;
}

.judul-section p {
  font-size: 24px;
  font-weight: 600;
}

@media only screen and (max-width: 600px) {
  .judul-section p {
    font-size: 20px;
  }
}

.lainya {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 600px) {
  .lainya {
    margin-top: 60px;
  }
}

.lainya .btn-lainya {
  background-color: #FFD600;
  text-decoration: none;
  text-align: center;
  border-radius: 4px;
  border: none;
  font-weight: 500;
  margin-bottom: 20px;
  height: 40px;
  line-height: 40px;
  color: rgba(0, 0, 0, 0.5);
  width: 150px;
  -webkit-box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.1), -4px -4px 8px #FFFFFF, inset 2px 2px 8px rgba(255, 255, 255, 0.5);
          box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.1), -4px -4px 8px #FFFFFF, inset 2px 2px 8px rgba(255, 255, 255, 0.5);
  outline: none;
  -webkit-transition: .3s;
  transition: .3s;
}

.lainya .btn-lainya:hover {
  background-color: #FFBA09;
}

.lainya .btn-lainya:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.header {
  width: 100%;
}

.header nav {
  position: fixed;
  top: 0;
  z-index: 999;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 60px;
  width: 100%;
  background-color: #fff;
}

.header nav .logo {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 100%;
}

.header nav .logo img {
  width: 40px;
  margin-left: 60px;
}

.header nav ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  text-align: center;
  margin-right: 30px;
}

.header nav ul li {
  list-style: none;
}

.header nav ul li a {
  text-decoration: none;
  color: #6E0114;
}

.header nav ul .pemesanan a {
  color: #fff;
  background-color: #FEB528;
  color: #fff;
  padding: 15px 20px;
  border-radius: 60px;
  -webkit-box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.1), -4px -4px 8px #FFFFFF, inset 2px 2px 8px rgba(255, 255, 255, 0.5);
          box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.1), -4px -4px 8px #FFFFFF, inset 2px 2px 8px rgba(255, 255, 255, 0.5);
  -webkit-transition: .5s;
  transition: .5s;
}

.header nav ul .pemesanan a:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media only screen and (max-width: 600px) {
  .header nav {
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  }
  .header nav ul {
    display: none;
  }
  .header nav .logo img {
    margin-left: 30px;
  }
}

#carousel-example-generic-mobile {
  display: none;
}

#carousel-example-generic-mobile .carousel-control {
  background: transparent;
}

@media only screen and (max-width: 600px) {
  #carousel-example-generic-mobile {
    margin-top: 60px;
    height: 160px;
    display: block;
  }
  #carousel-example-generic-mobile .carousel-inner {
    height: 100%;
  }
  #carousel-example-generic-mobile .carousel-inner .item {
    height: 100%;
  }
  #carousel-example-generic-mobile .carousel-inner .item img {
    height: 100%;
    width: 100%;
  }
}

.iklan {
  margin-top: 120px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@media only screen and (max-width: 600px) {
  .iklan {
    margin-top: 0;
  }
}

.iklan #carousel-example-generic-desktop {
  display: block;
}

.iklan #carousel-example-generic-desktop .carousel-control {
  background: transparent;
}

@media only screen and (max-width: 600px) {
  .iklan #carousel-example-generic-desktop {
    display: none;
  }
}

section#kelebihan {
  padding: 70px 0;
}

@media only screen and (max-width: 600px) {
  section#kelebihan {
    padding: 0px 0;
  }
}

section#kelebihan .cover-kelebihan {
  display: -ms-grid;
  display: grid;
  grid-gap: 40px;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

@media only screen and (max-width: 600px) {
  section#kelebihan .cover-kelebihan {
    padding-left: 8px;
    grid-gap: 20px;
    -ms-grid-columns: (minmax(200px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-flow: column;
    grid-auto-columns: minmax(200px, 1fr);
    overflow-x: auto;
  }
}

section#kategori .cover-card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(150px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 20px;
  margin-bottom: 70px;
}

section#kategori .cover-card a {
  text-decoration: none;
}

section#kategori .cover-card a .card-kategori {
  border-radius: 6px;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15), -5px -5px 10px #FFFFFF, inset 5px 5px 10px rgba(255, 255, 255, 0.5);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15), -5px -5px 10px #FFFFFF, inset 5px 5px 10px rgba(255, 255, 255, 0.5);
  padding: 20px;
  background-color: #fff;
  -webkit-transition: .5s;
  transition: .5s;
  min-height: 250px;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  section#kategori .cover-card a .card-kategori {
    min-height: 240px;
  }
}

section#kategori .cover-card a .card-kategori img {
  width: 100%;
  margin-bottom: 10px;
}

section#kategori .cover-card a .card-kategori .judul {
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 500;
}

section#kategori .cover-card a .card-kategori:hover {
  -webkit-transform: translate(0, -25px);
          transform: translate(0, -25px);
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-box-shadow: 0px 35px 10px -30px #fe043d;
          box-shadow: 0px 35px 10px -30px #fe043d;
}

section#kategori .cover-card a .card-kategori:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

section#produk {
  background-image: url(../asset/background.png);
  background-repeat: no-repeat;
  background-size: 100% 85%;
  background-position: center bottom;
}

@media only screen and (max-width: 600px) {
  section#produk {
    background-image: none;
  }
}

section#produk .cover-produk {
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  padding: 40px;
  padding-top: 0;
  margin-bottom: 32px;
  -ms-grid-columns: (minmax(180px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
}

@media only screen and (max-width: 600px) {
  section#produk .cover-produk {
    -ms-grid-columns: (minmax(150px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    padding: 0;
    grid-gap: 10px;
  }
}

section#produk .cover-produk .card-produk {
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  min-height: 300px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
  cursor: pointer;
}

section#produk .cover-produk .card-produk:hover .gambar img {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

section#produk .cover-produk .card-produk .gambar {
  overflow: hidden;
  border-radius: 4px;
}

section#produk .cover-produk .card-produk .gambar img {
  -webkit-transition: .5s;
  transition: .5s;
  width: 100%;
}

section#produk .cover-produk .card-produk .konten .judul {
  font-weight: 600;
}

section#produk .cover-produk .card-produk .konten .berat {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 400;
}

section#produk .cover-produk .card-produk .konten .harga {
  font-weight: 400;
  color: #FD043C;
}

section#produk .cover-produk .card-produk a {
  text-decoration: none;
  line-height: 30px;
  text-align: center;
  height: 30px;
  font-weight: 500;
  background-color: #00D387;
  -webkit-box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.1), -4px -4px 8px #FFFFFF, inset 2px 2px 8px rgba(255, 255, 255, 0.5);
          box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.1), -4px -4px 8px #FFFFFF, inset 2px 2px 8px rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 15px;
  color: #fff;
  -webkit-transition: .5s;
  transition: .5s;
  outline: none;
}

section#produk .cover-produk .card-produk a:hover {
  background-color: #fff;
  border: 1px solid #00D387;
  color: #00D387;
}

section#produk .cover-produk .card-produk a:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

section#testimoni {
  display: none;
}

section#testimoni .cover-testimoni {
  margin-bottom: 70px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(265px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(265px, 1fr));
  grid-gap: 20px;
}

@media only screen and (max-width: 1200px) {
  section#testimoni .cover-testimoni {
    padding-left: 8px;
    grid-gap: 20px;
    -ms-grid-columns: (minmax(265px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(265px, 1fr));
    grid-auto-flow: column;
    grid-auto-columns: minmax(265px, 1fr);
    overflow-x: auto;
  }
}

section#testimoni .cover-testimoni .card {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr auto;
      grid-template-rows: 1fr auto;
  height: 350px;
}

section#testimoni .cover-testimoni .card .cover-testi {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0 20px;
}

section#testimoni .cover-testimoni .card .cover-testi .testimoni {
  text-align: center;
  font-size: 18px;
  padding: 75px 10px 0;
  color: rgba(0, 0, 0, 0.7);
}

section#testimoni .cover-testimoni .card .cover-testi .pembatas {
  text-align: center;
}

section#testimoni .cover-testimoni .card .cover-bawah {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 2fr;
      grid-template-columns: auto 2fr;
  margin: 20px 0;
}

section#testimoni .cover-testimoni .card .cover-bawah .gambar {
  height: 60px;
  width: 60px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  border: 2px solid rgba(0, 0, 0, 0.5);
  margin-left: 20px;
}

section#testimoni .cover-testimoni .card .cover-bawah .gambar img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

section#testimoni .cover-testimoni .card .cover-bawah .konten {
  padding: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  text-align: left;
}

section#testimoni .cover-testimoni .card .cover-bawah .konten p {
  margin: 0 0 0 !important;
}

section#testimoni .cover-testimoni .card .cover-bawah .konten .nama {
  font-weight: 400;
  font-size: 16px;
  padding-bottom: 10px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

section#testimoni .cover-testimoni .card .cover-bawah .konten .pekerjaan {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
  padding-bottom: 10px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

section#download {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

@media only screen and (max-width: 600px) {
  section#download {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

section#download .judul-section .keterangan {
  font-size: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.8);
}

section#download .judul-section .gambar_hape {
  display: none;
}

@media only screen and (max-width: 600px) {
  section#download .judul-section .gambar_hape {
    display: block;
    width: 100%;
    margin-top: 50px;
  }
}

section#download .judul-section a {
  display: block;
  background-color: #00D387;
  padding: 10px;
  width: 200px;
  text-align: center;
  color: #fff;
  border-radius: 6px;
  margin-top: 60px;
  -webkit-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15), -3px -3px 10px #FFFFFF, inset 2px 2px 8px rgba(255, 255, 255, 0.5);
          box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15), -3px -3px 10px #FFFFFF, inset 2px 2px 8px rgba(255, 255, 255, 0.5);
  text-decoration: none;
  -webkit-transition: .5s;
  transition: .5s;
}

@media only screen and (max-width: 600px) {
  section#download .judul-section a {
    margin: 0 auto;
    margin-top: 60px;
  }
}

section#download .judul-section a:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

section#download .gambar-smartphone {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

section#download .gambar-smartphone img {
  margin-top: 40px;
  width: 500px;
}

@media only screen and (max-width: 600px) {
  section#download .gambar-smartphone {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  section#copyright {
    height: 135px;
  }
}

section#copyright .kotak {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  padding: 20px 0;
}

section#copyright .kotak p {
  text-align: center;
}

section#copyright .nav-mobile {
  display: none;
  -webkit-box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
  background: white;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  -webkit-transition: bottom .5s ease;
  transition: bottom .5s ease;
}

@media only screen and (max-width: 600px) {
  section#copyright .nav-mobile {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  section#copyright .nav-mobile a {
    width: 100%;
    text-decoration: none;
    display: block;
    padding: 10px;
    text-align: center;
  }
  section#copyright .nav-mobile a img {
    width: 25px;
    height: 25px;
    display: block;
    margin: 0 auto;
    margin-bottom: 5px;
  }
  section#copyright .nav-mobile a p {
    color: #6E0114;
    font-size: 10px;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    text-align: center;
  }
}
/*# sourceMappingURL=style_bakulayam.css.map */